<h2 class="tw-text-2xl tw-font-bold tw-border-b-2 tw-mb-8">csv parser</h2>
<p class="tw-mb-6">CSV ファイルを解析します</p>

<div
  class="tw-flex tw-justify-center tw-items-center tw-h-32 tw-p-2 tw-border-2 tw-border-dashed tw-rounded"
  (dragover)="dragOver($event)"
  (drop)="drop($event)"
  (dragleave)="dragLeave($event)"
>
  <input class="tw-cursor-pointer" #csvUpload type="file" accept=".csv" />
</div>

<button
  class="
    tw-w-32 tw-border-2 tw-border-blue-600 tw-rounded-lg tw-px-2 tw-py-1 tw-text-blue-400 tw-cursor-pointer
    hover:tw-bg-blue-600 hover:tw-text-blue-200
  "
  (click)="parse()"
>
  parse
</button>
